body,
html {
  margin: 0;
}
* {
  font-family: sans-serif;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
}

.header img {
  object-fit: contain;
  padding: 15px;
}

.header-options {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 15px 0px;
}

.header-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-btns a {
  text-decoration: none;
  color: black;
}

.loading {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
